<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    
<h1>{{pageTitle}}</h1>
<h2>{{subTitle}}</h2>
<h2>{{subsubTitle}}</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem numquam veritatis quas corporis nemo, quo consequuntur nobis ducimus nam inventore, soluta earum non. Voluptate velit doloribus qui accusamus magni itaque.</p>


<ul>
<liv> 1 </liv>
<liv> 2 </liv>
</ul>

<div>hello</div>

    <form action="">
        <input type="text" id="salary" placeholder="wprowadź swoją wypłatę netto">
        <button id="getSalary">Wyślij</button>
        <p id="result"></p>
    </form>

<script src="./../js/func.js"></script>
</body>
</html>